@use '../../theme';

::placeholder{
  color: theme.$white;
  opacity: .6;
}

.addStudent-form{
  width: 100%;
  animation: fadeInUp 1s 1s;
  animation-fill-mode: forwards;
  opacity: 0;

  .fields-container{
    width: 70%;
    margin: auto;
  }

  input{
    border: 0;
    background: theme.$blue;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    width: 80%;
    float: left;
    clear: none;
    display: block;
    border-radius: 0.2em;
  }

  .add-button{
    display:inline-block;
    padding:0.45em 0;
    border:0.1em solid theme.$blue;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: theme.$blue;
    text-align:center;
    transition: all 0.2s;
    font-size: 16px;
    clear: none;
    background: transparent;
    margin-left: 2%;
    width: 17%;
    max-width: 100px;
    height: 40px;

    &:hover{
      color: theme.$white;
      background-color: theme.$blue;
    }
  }
}

.list-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
  align-items: center;
}

.student-container{
  position: relative;
  flex: 1 1 12%;
  height: 35px;
  width: 80%;
  border-left: .5em solid theme.$yellow;
  border-bottom: .2em solid theme.$yellow;
  border-radius: .1em;
  margin-top: 8px;
  padding: 0 .2em;
  opacity: 0;
  animation: fadeInUp 1s 1s;
  animation-fill-mode: forwards;

  &:hover{
    border: .2em solid theme.$yellow;
    background: theme.$lightYellow;
    transition: all 0.2s;
  }

  p{
    display: inline-block;
    float: left;
    font-size: 18px;
    margin: .8em 0 .8em 1em;
    font-weight: 500;
  }
}

.btn{
  padding:0.6em 1.2em;
  margin: .4em 0.5em 0 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  font-size: 15px;
  clear: none;
  background: transparent;

  &.delete{
    padding:0.35em .8em;
    border:0.1em solid theme.$lightRed;
    color: theme.$lightRed;
    font-weight: 700;
    font-size: 18px;

    &:hover{
      color: theme.$white;
      background-color: theme.$lightRed;
    }
  }

  &.edit{
    border:0.1em solid theme.$lightBlue;
    color: theme.$lightBlue;

    &:hover{
      color: theme.$white;
      background-color: theme.$lightBlue;
    }
  }
}

.btn-holder{
  display:inline-block;
  float: right;
}