$black: #465775;
$white: #F3EFE0;
$yellow: #FCD757;
$lightRed: #EF6F6C;
$lightBlue: #3B91CE;
$blue: #2D7BB4;
$lightGreen: #169873;
$green: #127D5F;
$lightYellow: #FFF5D6;
$orange: #FF9F1C;
$lightOrange: #FFF7EB;